@media only screen and (max-width: 1100px) {
    .offerts-cards{
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .offerts-cards-item {
        width: 23vw;
    }


}
@media only screen and (max-width: 900px) {
    .offerts-cards{
        padding-left: 5vw;
        padding-right: 5vw;
    }
}
@media only screen and (max-width: 800px) {
    .offerts-cards{
        grid-template-columns: 1fr;
        gap: 2em;
        margin-left: auto;
        margin-right: auto;
    }
    .offerts-cards-item{
        width: 50%;
    }
    
}